### Connecting to Local Maria DB

In [1]:
import mariadb

conn = mariadb.connect( user='sifael', 
                        password='v^3!V=@W59^IV(=Dhqv0', 
                        host='localhost', 
                        port=3306 )

In [2]:
cursor = conn.cursor()

In [3]:
# Creating the database
cursor.execute('CREATE DATABASE patient_management_system;')
conn.commit()

### Creating the Tables

In [4]:
patient = """
CREATE TABLE Patient (
    PatientID INT NOT NULL PRIMARY KEY UNIQUE,   
    FirstName VARCHAR(255),
    LastName VARCHAR(255),
    Age INT,
    Gender VARCHAR(255)
);
"""

physician = """
CREATE TABLE Physician (
    PhysicianID INT NOT NULL PRIMARY KEY UNIQUE,
    FirstName VARCHAR(255),
    LastName VARCHAR(255),
    Specialty VARCHAR(255)
);
"""

medical_profile = """ 
CREATE TABLE MedicalProfile (
    ProfileID INT NOT NULL PRIMARY KEY UNIQUE,
    Diagnosis TEXT,
    CurrentMedication TEXT,
    MedicalImages TEXT,
    FOREIGN KEY (ProfileID) REFERENCES Patient(PatientID)
);
"""

treatment = """ 
CREATE TABLE Treatment (
    PatientID INT,
    PhysicianID INT,
    PRIMARY KEY (PatientID, PhysicianID),
    FOREIGN KEY (PatientID) REFERENCES Patient(PatientID),
    FOREIGN KEY (PhysicianID) REFERENCES Physician(PhysicianID)
);
"""

In [5]:

# Patient Table
cursor.execute('USE patient_management_system;')
cursor.execute(patient)
cursor.execute(physician)
cursor.execute(medical_profile)
cursor.execute(treatment)

conn.commit()

#### Generating Random Data with Faker

In [13]:
from faker import Faker

# Initialize Faker
fake = Faker()

# Function to generate 100 patient records
def generate_patient_records(n=100):
    records = []
    for patient_id in range(1, n + 1):
        first_name = fake.first_name()
        last_name = fake.last_name()
        age = fake.random_int(min=1, max=100)
        gender = fake.random_element(elements=('Male', 'Female'))
        records.append((patient_id, first_name, last_name, age, gender))
    return records

# Generate the records
patient_records = generate_patient_records()

# Print the records
for record in patient_records:
    print(f'PatientID: {record[0]}, FirstName: {record[1]}, LastName: {record[2]}, Age: {record[3]}, Gender: {record[4]}')

PatientID: 1, FirstName: Russell, LastName: Williams, Age: 82, Gender: Male
PatientID: 2, FirstName: Kristin, LastName: Nelson, Age: 47, Gender: Male
PatientID: 3, FirstName: Brittany, LastName: Mooney, Age: 38, Gender: Male
PatientID: 4, FirstName: Megan, LastName: Martinez, Age: 25, Gender: Female
PatientID: 5, FirstName: Troy, LastName: Harris, Age: 12, Gender: Male
PatientID: 6, FirstName: Kenneth, LastName: Rivera, Age: 77, Gender: Male
PatientID: 7, FirstName: Matthew, LastName: Bishop, Age: 46, Gender: Female
PatientID: 8, FirstName: William, LastName: Stone, Age: 75, Gender: Male
PatientID: 9, FirstName: Omar, LastName: Merritt, Age: 14, Gender: Male
PatientID: 10, FirstName: Jennifer, LastName: Anderson, Age: 17, Gender: Female
PatientID: 11, FirstName: Michael, LastName: Oliver, Age: 34, Gender: Male
PatientID: 12, FirstName: Erika, LastName: Green, Age: 27, Gender: Female
PatientID: 13, FirstName: Jennifer, LastName: Hernandez, Age: 40, Gender: Male
PatientID: 14, FirstName: Jasmine, LastName: Barnett, Age: 59, Gender: Male
PatientID: 15, FirstName: Teresa, LastName: Garcia, Age: 97, Gender: Female
PatientID: 16, FirstName: Danielle, LastName: Andrews, Age: 82, Gender: Female
PatientID: 17, FirstName: Robert, LastName: Soto, Age: 64, Gender: Female
PatientID: 18, FirstName: Hannah, LastName: Gonzales, Age: 41, Gender: Male
PatientID: 19, FirstName: Stephen, LastName: Santiago, Age: 44, Gender: Male
PatientID: 20, FirstName: Rebecca, LastName: Macias, Age: 65, Gender: Male
PatientID: 21, FirstName: Caleb, LastName: Mcneil, Age: 85, Gender: Male
PatientID: 22, FirstName: Debra, LastName: Liu, Age: 42, Gender: Male
PatientID: 23, FirstName: Cody, LastName: Bishop, Age: 77, Gender: Male
PatientID: 24, FirstName: Jennifer, LastName: Dennis, Age: 21, Gender: Female
PatientID: 25, FirstName: Sharon, LastName: Stevenson, Age: 16, Gender: Male
PatientID: 26, FirstName: Justin, LastName: Daniels, Age: 71, Gender: Female
PatientID: 27, FirstName: David, LastName: Soto, Age: 22, Gender: Male
PatientID: 28, FirstName: Brian, LastName: Jackson, Age: 89, Gender: Female
PatientID: 29, FirstName: Christopher, LastName: Wilson, Age: 29, Gender: Female
PatientID: 30, FirstName: Susan, LastName: Thornton, Age: 14, Gender: Male
PatientID: 31, FirstName: Christopher, LastName: Williams, Age: 74, Gender: Female
PatientID: 32, FirstName: Jacob, LastName: Dominguez, Age: 49, Gender: Female
PatientID: 33, FirstName: Daniel, LastName: Rodriguez, Age: 4, Gender: Male
PatientID: 34, FirstName: Dawn, LastName: Peterson, Age: 18, Gender: Male
PatientID: 35, FirstName: James, LastName: Fernandez, Age: 29, Gender: Female
PatientID: 36, FirstName: Cynthia, LastName: Vincent, Age: 7, Gender: Female
PatientID: 37, FirstName: Donald, LastName: Romero, Age: 54, Gender: Male
PatientID: 38, FirstName: Robin, LastName: Rasmussen, Age: 92, Gender: Female
PatientID: 39, FirstName: Jerry, LastName: Caldwell, Age: 90, Gender: Female
PatientID: 40, FirstName: Shannon, LastName: Pierce, Age: 3, Gender: Male
PatientID: 41, FirstName: Paula, LastName: Mann, Age: 21, Gender: Female
PatientID: 42, FirstName: Jessica, LastName: Wheeler, Age: 45, Gender: Female
PatientID: 43, FirstName: Randall, LastName: Obrien, Age: 88, Gender: Male
PatientID: 44, FirstName: Michael, LastName: Monroe, Age: 61, Gender: Male
PatientID: 45, FirstName: Christopher, LastName: Diaz, Age: 51, Gender: Male
PatientID: 46, FirstName: Robert, LastName: Castillo, Age: 14, Gender: Male
PatientID: 47, FirstName: Douglas, LastName: Le, Age: 54, Gender: Female
PatientID: 48, FirstName: Todd, LastName: Patton, Age: 10, Gender: Male
PatientID: 49, FirstName: David, LastName: Henson, Age: 36, Gender: Female
PatientID: 50, FirstName: Frank, LastName: Krause, Age: 78, Gender: Female
PatientID: 51, FirstName: Richard, LastName: Lowery, Age: 5, Gender: Male
PatientID: 52, FirstName: Lucas, LastName: Gonzalez, Age: 28, Gender: Female
PatientID: 53, FirstName: Jessica, LastName: Bailey, Age: 57, Gender: Female
PatientID: 54, FirstName: Michael, LastName: Anderson, Age: 4, Gender: Female
PatientID: 55, FirstName: Anthony, LastName: Hall, Age: 55, Gender: Female
PatientID: 56, FirstName: Cynthia, LastName: Strickland, Age: 85, Gender: Female
PatientID: 57, FirstName: Aaron, LastName: White, Age: 67, Gender: Female
PatientID: 58, FirstName: Taylor, LastName: Ward, Age: 82, Gender: Female
PatientID: 59, FirstName: Henry, LastName: Chen, Age: 30, Gender: Male
PatientID: 60, FirstName: Amanda, LastName: Hughes, Age: 45, Gender: Male
PatientID: 61, FirstName: Elizabeth, LastName: Wood, Age: 61, Gender: Male
PatientID: 62, FirstName: Karen, LastName: Dixon, Age: 93, Gender: Male
PatientID: 63, FirstName: Tracy, LastName: Burnett, Age: 70, Gender: Male
PatientID: 64, FirstName: Norman, LastName: Paul, Age: 10, Gender: Male
PatientID: 65, FirstName: Nicole, LastName: Huang, Age: 37, Gender: Female
PatientID: 66, FirstName: Jennifer, LastName: Moore, Age: 69, Gender: Female
PatientID: 67, FirstName: Angela, LastName: Miller, Age: 64, Gender: Female
PatientID: 68, FirstName: Kevin, LastName: Russell, Age: 46, Gender: Male
PatientID: 69, FirstName: Clifford, LastName: Castaneda, Age: 45, Gender: Male
PatientID: 70, FirstName: Natalie, LastName: Anderson, Age: 85, Gender: Female
PatientID: 71, FirstName: David, LastName: Pittman, Age: 89, Gender: Male
PatientID: 72, FirstName: Dawn, LastName: Carpenter, Age: 18, Gender: Male
PatientID: 73, FirstName: Charles, LastName: Wood, Age: 23, Gender: Female
PatientID: 74, FirstName: Derek, LastName: Lara, Age: 19, Gender: Male
PatientID: 75, FirstName: Julie, LastName: Hobbs, Age: 93, Gender: Male
PatientID: 76, FirstName: Denise, LastName: Spencer, Age: 98, Gender: Male
PatientID: 77, FirstName: Brian, LastName: Barnett, Age: 61, Gender: Female
PatientID: 78, FirstName: Mark, LastName: Morales, Age: 43, Gender: Female
PatientID: 79, FirstName: James, LastName: Meyer, Age: 64, Gender: Female
PatientID: 80, FirstName: Jason, LastName: Vasquez, Age: 95, Gender: Female
PatientID: 81, FirstName: Robert, LastName: Wright, Age: 91, Gender: Male
PatientID: 82, FirstName: Angela, LastName: Nunez, Age: 69, Gender: Female
PatientID: 83, FirstName: Amanda, LastName: Cantu, Age: 24, Gender: Male
PatientID: 84, FirstName: Tara, LastName: Wilson, Age: 57, Gender: Female
PatientID: 85, FirstName: Jeremy, LastName: Harrison, Age: 9, Gender: Male
PatientID: 86, FirstName: Jose, LastName: Williams, Age: 70, Gender: Male
PatientID: 87, FirstName: Robert, LastName: Jones, Age: 36, Gender: Female
PatientID: 88, FirstName: Darren, LastName: Snyder, Age: 5, Gender: Male
PatientID: 89, FirstName: Terry, LastName: Davidson, Age: 20, Gender: Female
PatientID: 90, FirstName: Ashley, LastName: Martinez, Age: 99, Gender: Female
PatientID: 91, FirstName: Christy, LastName: Smith, Age: 36, Gender: Female
PatientID: 92, FirstName: Nicole, LastName: Yates, Age: 43, Gender: Male
PatientID: 93, FirstName: Taylor, LastName: Johnson, Age: 62, Gender: Female
PatientID: 94, FirstName: Brenda, LastName: Holmes, Age: 81, Gender: Male
PatientID: 95, FirstName: Kevin, LastName: Morse, Age: 52, Gender: Female
PatientID: 96, FirstName: Amber, LastName: Williams, Age: 20, Gender: Male
PatientID: 97, FirstName: Alexandra, LastName: Suarez, Age: 90, Gender: Female
PatientID: 98, FirstName: Carla, LastName: Rodriguez, Age: 35, Gender: Female
PatientID: 99, FirstName: Debra, LastName: Lopez, Age: 15, Gender: Female
PatientID: 100, FirstName: Bryan, LastName: Tucker, Age: 16, Gender: Female

### Generating Random Data for Physicians

In [14]:
specialties = ["General Practitioner", "Cardiologist", "Dermatologist", "Neurologist", "Pediatrician"]

def generate_physician_records(n=20):
    records = []
    for physician_id in range(1, n + 1):
        first_name = fake.first_name()
        last_name = fake.last_name()
        # Ensure a variety of specialties are assigned, including at least one General Practitioner
        specialty = fake.random_element(elements=specialties)
        records.append((physician_id, first_name, last_name, specialty))
    return records

# Generate the records
physician_records = generate_physician_records()

for record in physician_records[:5]:  # Print only the first 5 records for brevity
    print(f'PhysicianID: {record[0]}, FirstName: {record[1]}, LastName: {record[2]}, Specialty: {record[3]}')

PhysicianID: 1, FirstName: Marcus, LastName: Velazquez, Specialty: Dermatologist
PhysicianID: 2, FirstName: William, LastName: Davis, Specialty: Cardiologist
PhysicianID: 3, FirstName: Stephanie, LastName: Thompson, Specialty: Neurologist
PhysicianID: 4, FirstName: Lisa, LastName: Kirk, Specialty: Neurologist
PhysicianID: 5, FirstName: Jennifer, LastName: Phillips, Specialty: General Practitioner

### Generating MedicalProfile Data

In [75]:
import random

# Define sample data for diagnoses, current medications, and medical images
diagnoses = [
    "Hypertension",
    "Diabetes Mellitus",
    "Asthma",
    "Chronic Obstructive Pulmonary Disease",
    "Arthritis",
    "Depression",
    "Anxiety Disorder",
    "Peptic Ulcer Disease",
    "Migraine",
    "Chronic Kidney Disease"
]

current_medications = [
    "Amlodipine",
    "Metformin",
    "Salbutamol",
    "Tiotropium",
    "Ibuprofen",
    "Sertraline",
    "Escitalopram",
    "Omeprazole",
    "Sumatriptan",
    "Losartan"
]

medical_images = ["MRI", "CT Scan", "X-ray", "Ultrasound", "Echocardiogram"]

# Generate 90 medical profile records
def generate_medical_profiles(n=100):
    profiles = []
    for i in range(1, n + 1):
        profile_id = i
        diagnosis = random.choice(diagnoses)
        current_medication = random.choice(current_medications)
        medical_image = random.choice(medical_images)
        
        profiles.append({
            "ProfileID": profile_id,
            "Diagnosis": diagnosis,
            "CurrentMedication": current_medication,
            "MedicalImages": medical_image
        })
    return profiles

medical_profiles = generate_medical_profiles()

# Printing the first 5 medical profiles for demonstration
for profile in medical_profiles[:5]:
    print(f'ProfileID: {profile["ProfileID"]}, Diagnosis: {profile["Diagnosis"]}, CurrentMedication: {profile["CurrentMedication"]}, MedicalImages: {profile["MedicalImages"]}')

ProfileID: 1, Diagnosis: Arthritis, CurrentMedication: Omeprazole, MedicalImages: CT Scan
ProfileID: 2, Diagnosis: Asthma, CurrentMedication: Ibuprofen, MedicalImages: Ultrasound
ProfileID: 3, Diagnosis: Peptic Ulcer Disease, CurrentMedication: Sertraline, MedicalImages: MRI
ProfileID: 4, Diagnosis: Chronic Kidney Disease, CurrentMedication: Salbutamol, MedicalImages: X-ray
ProfileID: 5, Diagnosis: Migraine, CurrentMedication: Sertraline, MedicalImages: Echocardiogram

### Generating Treatment Data

In [19]:
# Define the total number of patients and physicians
total_patients = 100
total_physicians = 20

patientID_to_physician = {patID: random.randint(1, total_physicians+1)for patID in range(1, 101)}

### Inserting Data - Using Pandas

In [20]:
import pandas as pd

In [23]:
patient_records = pd.DataFrame(patient_records)
patient_records.columns = ['PatientID', 'FirstName', 'LastName', 'Age', 'Gender']

In [24]:
patient_records.head()

   PatientID FirstName  LastName  Age  Gender
0          1   Russell  Williams   82    Male
1          2   Kristin    Nelson   47    Male
2          3  Brittany    Mooney   38    Male
3          4     Megan  Martinez   25  Female
4          5      Troy    Harris   12    Male

In [28]:
physician_records = pd.DataFrame(physician_records)
physician_records.columns = ['PhysicianID', 'FirstName', 'LastName', 'Specialty']

In [29]:
physician_records.head()

   PhysicianID  FirstName   LastName             Specialty
0            1     Marcus  Velazquez         Dermatologist
1            2    William      Davis          Cardiologist
2            3  Stephanie   Thompson           Neurologist
3            4       Lisa       Kirk           Neurologist
4            5   Jennifer   Phillips  General Practitioner

In [77]:
medical_profiles = pd.DataFrame(medical_profiles)
medical_profiles.columns = ["ProfileID", "Diagnosis", "CurrentMedication" , "MedicalImages"]

In [78]:
medical_profiles.head()

   ProfileID               Diagnosis CurrentMedication   MedicalImages
0          1               Arthritis        Omeprazole         CT Scan
1          2                  Asthma         Ibuprofen      Ultrasound
2          3    Peptic Ulcer Disease        Sertraline             MRI
3          4  Chronic Kidney Disease        Salbutamol           X-ray
4          5                Migraine        Sertraline  Echocardiogram

In [35]:
treatment = pd.DataFrame({'PatientID': patientID_to_physician.keys(),
                          'PhysicianID': patientID_to_physician.values()})

In [36]:
treatment

    PatientID  PhysicianID
0           1           14
1           2           19
2           3            2
3           4           10
4           5           19
..        ...          ...
95         96           14
96         97           15
97         98            4
98         99           10
99        100           17

[100 rows x 2 columns]

In [37]:
!pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading SQLAlchemy-2.0.28-cp312-cp312-macosx_11_0_arm64.whl.metadata (9.6 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/sifael/anaconda3/envs/machine_learning/lib/python3.12/site-packages (from SQLAlchemy) (4.10.0)
Downloading SQLAlchemy-2.0.28-cp312-cp312-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 9.2 MB/s eta 0:00:00a 0:00:01
Installing collected packages: SQLAlchemy
Successfully installed SQLAlchemy-2.0.28

In [41]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.5 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [38]:
from sqlalchemy import create_engine

In [68]:
engine = create_engine("mariadb+mariadbconnector://sifael:v^3!V=W59^IV(=Dhqv0@127.0.0.1:3306/patient_management_system")

In [70]:
treatment.to_csv('treatment.txt', index=False)

In [72]:
patient_records.to_csv('patient.txt', index=False)

In [73]:
physician_records.to_csv('physician.txt', index=False)

In [79]:
medical_profiles.to_csv('medicalprofile.txt', index=False)